<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href='css/dashboard.css'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src="js/dashboard.js"></script>

  </head>

  <body>


    <!-- City Scientists Functionalities -->
    <!-- Add New Data Point -->
    <div class="container">
      <div class="main">
        <div class="card mt-5">
          <form class="card-block">
              <h2 class="display-5 text-center">Add a New Data Point</h2>
              <!-- POI location Name -->
              <div class="form-group">
                <label for="poi-location-name">POI location Name</label>
                <div class="row">
                  <select class="ml-3 custom-select col-sm-6" id="poi-location-name">
                  </select>
                  <div class="col-sm-3"><a href="/new-location">Add New Location</a></div>
                </div>
              </div>
              <!-- Time and Date of Data Reading -->
              <div class="form-group">
                <label for="time-date-data">Time and Date of Data Reading</label>
                <input class="form-control" type="datetime-local" id="time-date-data">
              </div>
              <!-- Data type -->
              <div class="form-group">
                <label for="dataType">Data Type</label>
                <select class="custom-select" id="dataType">
                  <!-- You should not hardcode values for dropdown menu -->
                  <option selected>Data Type</option>
                </select>
              </div>
              <!-- Data Value -->
              <div class="form-group">
                <label for="dataValue">Data Value</label>
                <input class="form-control" type="text" id="dataValue">
              </div>

              <div class="d-flex justify-content-start">
                <button type="button" class="p-2 btn btn-outline-success">Back</button>
                <button type="button" class="ml-auto p-2 btn btn-outline-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End of Add New Data Point -->


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  </body>
</html>
