<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1>Login</h1></br></br>
        <form role="form" id="" action="/signin" method="post">
          <div class="form-group row">
            <label for="username" class="col-2 col-form-label">Username</label>
            <div class="col-6">
              <input class="form-control" name="username" type="text" placeholder="Enter Username" id="username">
            </div>
          </div>
          <div class="form-group row">
            <label for="pwd" class="col-2 col-form-label">Password</label>
            <div class="col-6">
              <input class="form-control" name="password" type="password" placeholder="Enter password" id="pwd">
            </div>
          </div>
          <button type="submit" class="btn btn-outline-success">Submit</button>
          <a class="btn btn-link" href="/register" role="button">Not Registered? Click Here</a>
        </form>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
      (function () {
        $("#login").submit(function() {
          var username = $("#username").val();
          var password = $("#pwd").val();
          var login = {username: username, password: password};
          console.log(login);
          $.ajax({
            type: 'POST',
            url: '/signin',
            data: login,
            success: function(data) {
              alert("Login Successful");
              //window.location = '/';
            },
            error: function(xhr) {
              var response = xhr.responseText;
              alert(response);
              return false;
            }
          })
        });
      })();

    </script>
  </body>
</html>
