<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href='css/dashboard.css'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <script src="js/dashboard.js"></script>

  </head>

  <body>

    <div class="container">
        <h1>Add a New Data Point</h1></br></br>
        <form role="form" id="poilocation" onsubmit="return false">
          <div class="form-group row">
            <label for="text" class="col-2 col-form-label">POI Location Name</label>
            <div class="col-6">
              <input class="form-control" type="text" id="poiname" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-2 col-form-label">City</label>
            <div class="col-6">
              <select id="select_city" class="custom-select">
                <option selected>Select City</option>
                <% for(var i=0; i<cities.length; i++) {%>
                  <option value="<%= cities[i] %>"><%= cities[i] %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="state" class="col-2 col-form-label">State</label>
            <div class="col-6">
              <select id="select_state" class="custom-select">
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label for="text" class="col-2 col-form-label">Zip Code</label>
            <div class="col-6">
              <input class="form-control" type="text" id="zipcode" required>
            </div>
          </div>
          <button type="create" class="btn btn-default">Submit</button>
          <a class="btn btn-link" href="/admin-dashboard" role="button">Back</a>
        </form>
    </div>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
      (function () {

        $("#select_city").change(function() {
            var selected_city = {city: $(this).find(":selected").val()};
            console.log(selected_city);
            $.ajax({
              type: 'POST',
              url: '/states',
              data: selected_city,
              dataType: "json",
              success: function(result) {
                var states = result.states;
                $("#select_state").empty();
                states.forEach(function(state) {
                    $("#select_state").append('<option value="'+ state +'">'+ state +'</option>');
                });
              }
            });
        });

        $("#datapoint").submit(function() {
          var poi = $("#poi").val();
          var date = $("#date").val();
          var time = $("#time").val();
          var datatype = $("#datatype").val();
          var datavalue = $("#datavalue").val();
          var datapoint = {poi: poi, date: date, time: time, datatype: datatype, datavalue: datavalue};
          location.reload();
          $.ajax({
            type: 'POST',
            url: '/datapoint',
            data: datapoint,
            success: function(data) {
              alert("Data Point Saved");
              location.reload();
            },
            error: function(xhr) {
              var response = xhr.responseText;
              alert(response);
              return false;
            }
          })
        });



      })();

    </script>
  </body>
</html>
