<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <h1>New User Registration</h1></br></br>
        <form role="form" id="register" onsubmit="return false">
          <div class="form-group row">
            <label for="text" class="col-2 col-form-label">Username</label>
            <div class="col-6">
              <input class="form-control" type="username" placeholder="Enter Username" id="username" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-2 col-form-label">Email Address</label>
            <div class="col-6">
              <input class="form-control" type="email" placeholder="Enter email" id="email" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="pwd" class="col-2 col-form-label">Password</label>
            <div class="col-6">
              <input class="form-control" type="password" placeholder="Enter password" id="pwd" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="pwd2" class="col-2 col-form-label">Confirm Password</label>
            <div class="col-6">
              <input class="form-control" type="password" placeholder="Confirm password" id="pwd2" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="usertype" class="col-2 col-form-label">User Type</label>
            <div class="col-6">
              <select class="custom-select" id="user_type">
                <option value="city_scientist">City Scientist</option>
                <option value="city_official">City Official</option>
              </select>
            </div>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="form-group row">
              <label for="usertype" class="col-6 col-form-label">Fill out this form if you have choosen city official</label>
            </div>
            <div class="form-group row">
              <label for="city" class="col-2 col-form-label">City</label>
              <div class="col-6">
                <select id="select_city" class="custom-select">
                  <option selected>Select City</option>
                  <% for(var i=0; i<cities.length; i++) {%>
                    <option value="<%= cities[i] %>"><%= cities[i] %></option>
                  <% } %>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="state" class="col-2 col-form-label">State</label>
              <div class="col-6">
                <select id="select_state" class="custom-select">
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="title" class="col-2 col-form-label">Title</label>
              <div class="col-6">
                <input class="form-control" type="text" placeholder="Title" id="title">
              </div>
            </div>
          </div>
          <button type="create" class="btn btn-default">Create</button>
        </form>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script>
      (function () {

        $("#target").submit(function() {
          var login = {email: this.usrname.value, password: this.psw.value};
          alert( login.email + " " + login.password );
          $.ajax({
            type: 'POST',
            url: '/login',
            data: login,
            dataType: "json",
            success: function(data) {
              window.location = '/dashboard';
            },
            error: function(xhr) {
              document.getElementById("login-fail").innerHTML = xhr.responseText;
              //window.location = '/register';
            }
          })
          return false;
        });

        $("#register").submit(function() {
          var username = $("#username").val();
          var email = $("#email").val();
          var password = $("#pwd").val();
          var confirmPass = $("#pwd2").val();
          var userType = $("#user_type").find(":selected").val()
          var register;
          if (userType === 'city_official') {
            var title = $("#title").val();
            var city = $("#select_city").find(":selected").val();
            var state = $("#select_state").find(":selected").val()
            register = {username: username, email: email, password: password, usertype: userType, title: title, city: city, state: state};
          }
          else {
            register = {username: username, email: email, password: password, usertype: userType};
          }
          console.log(register);
          if (password !== confirmPass) {
              alert('Passwords do not match');
              return false;
          }
          else {
              $.ajax({
                type: 'POST',
                url: '/signup',
                data: register,
                success: function(data) {
                  alert("Registration Complete");
                  window.location = '/';
                },
                error: function(xhr) {
                  var response = xhr.responseText;
                  alert(response);
                  return false;
                }
              })
          }
          //return false;
        });

        $("#select_city").change(function() {
            //var the_city = $(this).find(":selected").val();
            var selected_city = {city: $(this).find(":selected").val()};
            console.log(selected_city);
            $.ajax({
              type: 'POST',
              url: '/states',
              data: selected_city,
              dataType: "json",
              success: function(result) {
                //console.log(JSON.stringify(result.states));
                //$("#select").remove();
                var states = result.states;
                //$("#select_state").selectpicker('refresh');
                $("#select_state").empty();
                states.forEach(function(state) {
                    console.log(state);
                    $("#select_state").append('<option value="'+ state +'">'+ state +'</option>');
                });
              }
            });
        });

        $("#user_type").change(function() {
            alert("TEST");
            if ($(this).find(":selected").val() === 'city_official') {
                $('.collapse').collapse('show');
                $('#title').prop('required', true);
            }
            else {
                $('.collapse').collapse('hide');
                $('#title').prop('required', false);
            }
        });

      })();

    </script>
  </body>
</html>
